<div class="col-md-3">
    <div class="list-group">
        <a href="{{ url_for('home.user') }}" class="list-group-item" id="m-1">
            <span class="glyphicon glyphicon-user"></span> 会员中心
        </a>
        <a href="{{ url_for('home.pwd') }}" class="list-group-item" id="m-2">
            <span class="glyphicon glyphicon-lock"></span> 修改密码
        </a>
        <a href="{{ url_for('home.comments') }}" class="list-group-item" id="m-3">
            <span class="glyphicon glyphicon-comment"></span> 评论记录
        </a>
        <a href="{{ url_for('home.loginlog') }}" class="list-group-item" id="m-4">
            <span class="glyphicon glyphicon-calendar"></span> 登录日志
        </a>
        <a href="{{ url_for('home.collect') }}" class="list-group-item" id="m-5">
            <span class="glyphicon glyphicon-heart"></span> 收藏视频
        </a>
        <a href="{{ url_for('home.video_add') }}" class="list-group-item" id="m-6">
            <span class="glyphicon glyphicon-heart"></span> 上传视频
        </a>
    </div>
</div>

